.wraper {
  display: flex;
  justify-content: space-around;
}
.card-wraper {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.cart-component {
  position: sticky !important;
}
@media only screen and (max-width: 600px) {
  .card-wraper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }
  .wraper {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media only screen and (min-width: 850px) {
  .card-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
