.cart-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.cart {
  background-color: rgb(163, 161, 161);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  margin-left: 5px;
  position: sticky !important;
  height: 100%;
  top: 0;
}
@media only screen and (max-width: 600px) {
  .cart-wraper {
    width: 300px;

    margin: auto;
  }
}
